:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 4rem 0 0 0;
  display: flex;
  min-width: 320px;
  min-height: 91.6vh;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: auto;
  gap: 1em;
}


